# LaTeX package requirements for this project
amsmath
amssymb
geometry
graphicx
hyperref
natbib
biblatex
xcolor
fontenc
inputenc
setspace
titlesec
fancyhdr
enumitem
booktabs
caption
subcaption
listings
url
